*{
  font-family: "Times New Roman", serif;
}

.notification {
  background-color: whitesmoke;
  border-radius: 4px;
  padding: 1.25rem 1.25rem 1.25rem 1.25rem;
  position: relative;
}
.bg {
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url("images/background.jfif");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

.navbar {
  background-color: transparent;

}
.footer {
  padding: 0;
}
.footer .center {
  display: flex;
  justify-content: center;
  background-color: black;

}
.navbar-item img{
  max-height: none;
}
.navbar-item {
  color: lightgray;
  font-weight: bold;

}

a.navbar-item:any-link{
  background-color: transparent;
}
.navbar-brand .navbar-item {
  font-size: 2rem;
}

.section {
  padding-top: 5px;
}

.navbar-burger.burger {
  border: lightgray;
  border-width: 2px;

}

#circle{
  border-radius: 45%;
}
.center-img{
  display: flex;
  justify-content: center;
}

.column .row{
  color: lightgray;
}
.row.name{
  font-size: 4rem;
}
.row .notification{
  margin-top: 1rem;
}

.column.name{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 50px;

}
.projects {
  font-size: 1.25rem;
  padding-left: 1.25rem;
  list-style: circle;
}

hr {
  background-color: black;

}
.brand {
  height: 2rem;
}
.brand.is-small{
  height: 3rem;
}
.brand.is-big{
  height: 1.5rem;
}
.row .column{
  padding-bottom: 0px;
  align-content: center;
}
.notification .columns{
  align-items: center;
  margin-bottom: 6px;
}
.navbar-burger{
  color: white;
}
a.navbar-item:hover {
  color: lightgray;
  font-size: 1.5rem;
}
#stay:hover {
    font-size: 2rem;
}
strong a{
  font-size: 0.9rem;
}

@media screen and (min-width: 1024px) {
  .center {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 1023px){
  .navbar-menu{
    background-color: black;
  }

}
@media screen and (max-width: 420px){
  #circle{
    width: 40%;
    height: 60%;
  }

  .row{
    font-size: 1rem;
  }
  .row.name{
    font-size: 2rem;
  }
  li img {
      width: 60%;
      height: 60%;
  }

}



